html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

.btn-default
{
  background-color: #0052CC !important;
  color: white;
}

.btn-default:hover {
  color: white;
}

.navbar {
  border-radius: 0 !important;
}

.navbar.navbar-default {
  background-color: #0052CC;
  border-color: #0052CC;
}

.navbar-default .navbar-nav > li > a {
  color: white !important;
  font-family: sans-serif;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #253858 !important;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: white !important;
  background-color: #0052CC !important;
  font-weight: bold !important;
}

.nav.navbar-nav.navbar-right li a {
  color: white;
}

.navbar-header > a > p {
  font-size: 20px;
  color: white;
}

.navbar-header > a > p > img {
  height: 50px !important;
  width: 50px !important;
}

.navbar-brand {
  padding: 0 15px !important;
}


.submit-button {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.required:before {
  content: "* ";
  color: red;
}



.jumbotron {
  margin-top: 100px !important;
  color: #253858 !important;
  background-color: transparent !important;
  padding: 70px;
}

.jumbotron.container{
  text-align: center;
}
.issue-info-left{
  display: table-cell;
  padding-right: 100px;
}

.issue-attrs {
  display: table-cell;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}


#issues{
  padding: 20px 0;
}

#issues-toolbar{
  padding: 20px 0;
}

#filter-label{
  padding-left: 5px;
}

#logout-icon {
  padding-right: 8px;
}

.paddingLeft10px {
  padding-left: 1px;
}

#issue-add-comment {
  padding-top: 20px;
}

#cancel{
  padding: 20px 0;
}
