html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

.btn-default
{
  background-color: #0052CC !important;
  color: white;
}

.btn-default:hover {
  color: white;
}

.issue-info-left{
  display: table-cell;
  padding-right: 100px;
}

.issue-attrs {
  display: table-cell;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}


#issues{
  padding: 20px 0;
}

#issues-toolbar{
  padding: 20px 0;
}

#filter-label{
  padding-left: 5px;
}

#logout-icon {
  padding-right: 8px;
}

.paddingLeft10px {
  padding-left: 1px;
}

#issue-add-comment {
  padding-top: 20px;
}

#cancel{
  padding: 20px 0;
}
