<body>
<div *ngIf="issue">
  <div class="container">
    <div class="issue-header">
      <h2>Issue #{{issue.id}}: {{issue.title}}</h2>
    </div>
    <div class="issue-info">
      <div class="issue-info-left">
        <div id="issue-main-content">
          <p>
            {{issue.owner}} created an issue ({{issue.created_at}})
          </p>

          <p>
            <strong>Description:</strong> {{ issue.description}}
          </p>

          <div *ngFor="let att of issue.attachments">
            <p>
            <td>
              <a href="#">{{att.datafile}}</a> <!-- TODO: que funcione descargarse un attachment-->
            </td>
            </p>
          </div>

          <div *ngIf="issue.owner === 'florenciarimolo'" >
            <a routerLink="/issues/{{issue.id}}/edit">
              <button type="button" class="btn btn-default">Edit</button>
            </a>
          </div>

          <a href='#'> <!-- TODO: añadir el link de subir un attachment -->
            <button type="button" class="btn btn-default">Upload</button>
          </a>

          <div *ngIf="issue.owner === florenciarimolo" >
            <button type="button" class="btn btn-default" (click)="deleteIssue()">Delete</button>
          </div>

        </div>
      </div>

      <div class="issue-attrs">

        <p>
          <strong>Assignee: </strong> {{ issue.assignee}}
        </p>

        <p>
          <strong>Kind:</strong> {{issue.kind}}
        </p>

        <p>
          <strong>Priority:</strong> {{issue.priority}}
        </p>

        <p>
          <strong>Status:</strong> {{issue.status}}
        </p>

        <p>
          <strong>Votes:</strong> {{votes}}
          (<a *ngIf="!voted" (click)="vote()">vote</a><a *ngIf="voted" (click)="unvote()">unvote</a>)
        </p>

        <p>
          <strong>Watchers:</strong> {{watchers}}
          (<a *ngIf="!watched" (click)="watch()">watch</a><a *ngIf="watched" (click)="unwatch()">unwatch</a>)
        </p>

      </div>
      <div class="issues-footer">
        <h3>Comments ({{issue.comments.length}})</h3>
        <div *ngFor="let comment of issue.comments">
          <p [class.selected]="comment.owner"
                     (click)="onSelect(comment.owner)">
            <strong>{{comment.owner}}</strong>
            ({{comment.updated_at}}):
            {{comment.comment}}
          </p>
          <div *ngIf="comment.owner === 'florenciarimolo'" >
            <a routerLink="/issues/{{issue.id}}/comments/{{comment.id}}/edit">
              <button type="button"> Edit </button>
            </a>
            <button type="button" (click)="deleteComment(comment.id)"> X </button>
          </div>
        </div>
      </div>

      <a routerLink="/issues/{{issue.id}}/comments/new">
        <br><button type="button" class="btn btn-default">Add comment</button>
      </a>

      <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
    </div>
  </div>
</div>

</body>
