<!DOCTYPE html>
<html>
<body>
<h1>New Issue</h1>

<form class="form-horizontal center">
  <label class="required" for="title">Title:</label>
  <input type="text" class="form-control" id="title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
  <label class="required" for="kind">Kind:</label>
  <select class="form-control" type="text" id="kind" [(ngModel)]="kind" [ngModelOptions]="{standalone: true}">
    <option value="Bug">Bug</option>
    <option value="Enhancement">Enhancement</option>
    <option value="Task">Task</option>
    <option value="Blocker">Blocker</option>
  </select>
  <label class="required" for="priority">Priority:</label>
  <select class="form-control" type="text" id="priority" [(ngModel)]="priority" [ngModelOptions]="{standalone: true}">
    <option value="Trivial">Trivial</option>
    <option value="Minor">Minor</option>
    <option value="Major">Major</option>
    <option value="Critical">Critical</option>
    <option value="Blocker">Blocker</option>
  </select>
  <label for="assignee">Assignee:</label>
  <select class="form-control" type="text" id="assignee" [(ngModel)]="assignee" [ngModelOptions]="{standalone: true}">
    <option *ngFor="let user of users" value="{{user.username}}">{{user.username}}</option>
  </select>
  <label for="description">Description:</label>
  <textarea class="form-control" type="text" rows="5" id="description" [(ngModel)]="description"
            [ngModelOptions]="{standalone: true}"></textarea>
</form>
<div>
  <button class="btn btn-default" (click)="createIssue()">Create issue</button>
  <br>
  <button class="btn btn-default" (click)="goBack()">Cancel</button>
</div>
</body>
</html>
