<ul>
  <div *ngIf="!loggued()">
    <li><a routerLink="/"> {{title}} </a></li>
    <li style="float:right" (click)="loggin()"><a routerLink="/issues">Login</a></li>
  </div>
  <div *ngIf="loggued()">
    <li><a href="/#/issues/"> {{title}} </a></li>
    <li><a href="/#/issues/">Issues</a></li>
    <li><a href="/#/issues/new"> New Issue </a></li>
    <li style="float:right" (click)="loggout()"><a routerLink="/">Logout</a></li>
    <li style="float:right"><a href="/#/user">User</a></li>
  </div>
</ul>

<div *ngIf="!loggued()">
  <app-start-page></app-start-page>
</div>
<div *ngIf="loggued()">
  <router-outlet></router-outlet>
</div>
