<body>
  <table>
    <tbody>
      <tr _ngcontent-c3="">
        <td align="center" colspan="2"><img height="200"width="200" src="./assets/profile_image.jpg"></td>
      </tr>
      <tr>
        <td><h5>Full name</h5></td>
        <td>Sample name</td>
      </tr>
      <tr>
        <td><h5>Username</h5></td>
        <td>Sample Username</td>
      </tr>
      <tr>
        <td><h5>Email</h5></td>
        <td>sample_email@sample.com</td>
      </tr>
    </tbody>
  </table>
</body>

