<body>
<h1>Issues</h1>
<p>FILTER BY:</p>
<table class="issues-filter">
  <thead>
  <tr>
    <th class="elem"><a href="/#/issues/"/>All</a></th>
    <th class="elem"><a href="/#/issues?status=New" (click)="getIssues()">New</a></th>
    <th class="elem"><a href="/#/issues?status=Open" (click)="getIssues()">Open</a></th>
    <th class="elem"><a href="/#/issues?responsible=florenciarimolo" (click)="getIssues()">My issues</a></th>
    <th class="elem"><a href="/#/issues?watching=florenciarimolo" (click)="getIssues()">Watching</a></th>
  </tr>
  </thead>
</table>

<table>
  <thead>
  <tr>
    <th class="elem">Title</th>
    <th class="elem">T</th>
    <th class="elem">P</th>
    <th class="elem">Status</th>
    <th class="elem">Votes</th>
    <th class="elem">Assignee</th>
    <th class="elem">Created</th>
    <th class="elem">Updated</th>
  </tr>
  </thead>
  <tbody *ngFor="let issue of issues"
  >
  <tr>
    <td>
      <a [class.selected]="issue.id === selectedIssueId"
         (click)="onSelect(issue.id)" routerLink="/issues/{{issue.id}}">
        <span class="badge">#{{issue.id}}:</span> {{issue.title}}
      </a>
    </td>
    <td>{{issue.kind}}</td>
    <td>{{issue.priority}}</td>
    <td>{{issue.status}}</td>
    <td>{{issue.votes}}</td>
    <td>{{issue.assignee}}</td>
    <td>{{issue.created_at}}</td>
    <td>{{issue.updated_at}}</td>
  </tr>
  </tbody>
</table>

</body>



