<body>
  <h1>Issues</h1>
  <ul class="issues">
    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th>T</th>
        <th>P</th>
        <th>Status</th>
        <th>Votes</th>
        <th>Assignee</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>
      </thead>
      <tbody *ngFor="let issue of issues"
             [class.selected]="issue.id === selectedIssueId"
             (click)="onSelect(issue.id)">
        <tr>
          <td>
            <a routerLink="/detail/{{issue.id}}">
              <span class="badge">#{{issue.id}}:</span>  {{issue.title}}
            </a>
          </td>
          <td>{{issue.kind}}</td>
          <td>{{issue.priority}}</td>
          <td>{{issue.status}}</td>
          <td>{{issue.votes}}</td>
          <td>{{issue.assignee}}</td>
          <td>{{issue.created_at}}</td>
          <td>{{issue.updated_at}}</td>
        </tr>
      </tbody>
    </table>
  </ul>

</body>

<app-issue-detail [issueId] = "selectedIssueId"></app-issue-detail>



